css:
  .main-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
  }
  .entry {
    background: white;
    color: black;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid black; 
  }
  .entry:hover {
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 16px;
    border: 1px solid black;
  }

  .sb {
    justify-content: space-between;
  }

div.main-container
  div 
    h1.center
      |Clients
  div
    a [href="/clients/new"]
      p
        |new client
  div.flex-column
    div.flex-row.sb style="border-bottom: 3px solid black; padding: 16px;"
      p
        |age
      p
        |gender
      p
        |education
      p
        |pseudonym
      p
        |signed up 
  
    - @clients.reverse.each do |client|
      a [href="#{client.url}"]
        div.flex-row.entry.sb
          p
            |#{client.age}
          p
            |#{client.gender}
          p
            |#{client.education}
          p
            |#{client.pseudonym}
          p
            |#{client.created_at.to_date}