css:
  .content {
    display: flex;
    gap: 32px;
    margin-top: 32px;
    flex-direction: column;
    max-width: 40vw;
  }

  .test-card {
    width: 50vw;
    border: 2px solid black;
    border-radius: 16px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    h2, p {
      color: black;
    }
  }

  .test-card:hover {
    width: 50vw;
    border: 2px solid black;
    border-radius: 16px;
    padding: 16px;
    background: #00008B;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: white;
    h2, p {
      color: white;
    }
  }

div.content
  div
    h1
      |This website is for administering tests that measure elderly cognitive decline

    h2
      |Right now, we support the following tests:
  
  ul
  - @test_types.each do |test|
    = link_to test[:url]
      div.test-card
        h2.center
          = test[:name]