css:
  .content {
    display: flex;
    gap: 32px;
    margin-top: 32px;
    flex-direction: column;
    width: 40vw; 
  }

  p {
    text-align: left;
  }
div.content

  h1.center #{::Constants::TESTS[params[:id]]}
  div
    - ::Constants::TEST_INFO_COPY[params[:id]].each do |copy|
      p 
        |#{copy}