

<div class="next-stage">
  <%= form_with url: "/lab/test/#{@test.id}", method: :put do |form| %>
    <%= form.hidden_field :current_stage, value: stage %>
    <%= form.submit "Next Stage" %>
  <% end %>
</div>