<div class="card">
  <% if @test.completed? %>
    <p> test completed</p>
  <% else %>
    <div>
      <%= turbo_frame_tag :fluency_form do %>
        <div>
          <h1 class="center">Trail Making Test</h1>
          <h2 class="center">
            Stage <span><%= @test.current_stage_number%></span> of 2
          </h2>
          <a href="https://www.center-tbi.eu/files/approved-translations/English/ENGLISH_TMT.pdf">
            Click here to learn how to administer the test (credit to Center for Traumatic Brain Injury in Antwerp)
          </a>
          <script>
            if (document.getElementById('timer')) {
              let ts = new Date(Date.parse('<%= @test.curr_stage_start_time %>'));
              ts.setMinutes(ts.getMinutes()+1);
              setInterval(() => {
                let timer = document.getElementById('timer');
                let secondsLeft = Math.round((ts - new Date()) / 1000);
                if (secondsLeft < 0){
                  window.location.reload();
                } else {
                  timer.textContent = secondsLeft;
                }
              }, 100);
            }
          </script>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
